.adOption1 {
    left: 485px;
    top: 24.1%;
}

.adOption2 {
    left: 955px;
    top: 24.1%;
}

.adOption3 {
    left: 1460px;
    top: 24.1%;
}

.adOption4 {
    left: 226px;
    top: 46.5%;
}

.adOption5 {
    left: 649px;
    top: 46.5%;
}

.adOption6 {
    left: 1076px;
    top: 46.5%;
}

.adOption7 {
    left: 485px;
    top: 72.8%;
}

.adOption8 {
    left: 955px;
    top: 72.8%;
}

.adOption9 {
    left: 1460px;
    top: 72.8%;
}