.socialOption1 {
    left: 225px;
    top: 27.8%;
}

.socialOption2 {
    left: 650px;
    top: 27.8%;;
}

.socialOption3 {
    left: 1075px;
    top: 27.8%;;
}

.socialOption4 {
    left: 1500px;
    top: 27.8%;;
}

.socialOption5 {
    left: 226px;
    top: 55.8%;;
}

.socialOption6 {
    left: 651px;
    top: 55.9%;;
}

.socialOption7 {
    left: 1076px;
    top: 55.8%;;
}

.socialOption8 {
    left: 1501px;
    top: 55.8%;;
}