.techOption1 {
    left: 458.5px;
    top: 27.8%;
}

.techOption2 {
    left: 943px;
    top: 27.8%;
}

.techOption3 {
    left: 226px;
    top: 53.3%;
}

.techOption4 {
    left: 695.5px;
    top: 53.3%;
}

.techOption5 {
    left: 1199px;
    top: 53.3%;
}